* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --black-1: #2D3436;
    --black-2: #3e4547;
    --black-3: #29292E;
    --black-4: #24221f;

    --white-bg: #E9E9E9;
    --white-1: #F5F6FA;
    --white-2: #b2bec3;
    --white-3: #ecf0f1;

    --blue: #0984E3;
    --blue-1: #54a0ff;

    --green: #00B894;
    --green-1: #dce9e2;
    --green-2: #00856f;
    --green-3: #69B99D;
    --green-4: #04D361;
    --green-5: #00b894;
    
    --red: #ef4444;
    --red-1: #D63031;
    
    --yellow: #fde047;
    --yellow-1: #ffc632;

    --orange: #F39C12;
    
    --purple: #6C63FF;
    --purple-1: #290742;
    --purple-2: #9e6dc2;
    --purple-3: #8257E5;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--white-bg);
}

main {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
}

.divider {
    height: 2px;
    width: 100%;
    background: linear-gradient(
        270deg,
        var(--green) 0%,
        var(--blue) 100%
    );
}

/* Header */
.header {
    background-color: var(--black-1);
}

.header .nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header .nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.header .nav img {
    width: 1.5rem;
}

.header .nav h1 {
    font-size: 1.25rem;
    color: var(--blue);
}

/* Footer */
.footer {
    margin-top: 3.5rem;
    width: 100%;
    padding: 0.875rem 0;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--black-1);
    opacity: 0.75;
}

.footer p span {
    font-weight: 600;
    color: var(--blue);
}

@media(min-width: 1024px) {
    .header .nav {
        padding: 1.5rem;    
    }

    main {
        padding: 2.5rem;
    }

    .footer {
        padding: 1.25rem;
    }
}

@media(min-width: 1500px) {
    .footer {
        margin-top: -1.5rem;
    }
}