.certificates-container {
    background-color: var(--white-1);
    padding: 2rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.certificates-container img {
    width: 100%;
}

@media(min-width: 768px) {
    .certificates-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

@media(min-width: 1310px) {
    .certificates-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}