.projects-container {
    background-color: var(--white-1);
    padding: 2rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card {
    text-decoration: none;
    padding: 0.875rem 0.5rem;
    
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border-radius: 0.25rem;
}

.project-card:hover {
    filter: brightness(0.95);
}

.project-card img {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
}

.project-card h3 {
    color: var(--white-1);
}

@media(min-width: 768px) {
    .projects-container {
        display: grid;
        gap: 1rem;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1310px) {
    .projects-container {
        padding: 3rem;
        gap: 1.875rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}